.join-game
  padding: 50
  width: 500
  margin: auto

.gameAndTimer
  display: flex
  flex-direction: column

.game
  background-image: url('http://res.cloudinary.com/dsiyhc1tt/image/upload/v1478960301/Draw-a-Pig-Step-14_gssn3r.png')
  background-size: 500px 500px
  background-position: center
  min-height: 500
  max-height: 500
  min-width: 500
  max-width: 500

.spots
  display: flex
  flex-direction: row
  flex-wrap: wrap
  max-width: 450
  padding-top: 145
  padding-left: 50

.playername
  font-size: 40
  margin: 60
  margin-top: 0

.timer
  text-align: center
  margin-top: -60

.winner
  text-align: center

.piggy-roll
  position: relative
  top: 20%
  left: 1%
  width: 500
  height: 300
